.App {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "PT Serif", serif;
}

.title {
  text-align: center;
}

input {
  margin: 5px;
  @media (max-width: 500px) {
    margin: 20px 0;
  }
}

.reminder-form {
  padding: 5px;
  @media (max-width: 500px) {
    display: block;
  }
}

.list-group {
  margin: 15px 0 5px;
}

.list-group-item {
  @media (max-width: 500px) {
    margin: 0 20px;
  }
}

.list-item {
  display: inline-block;
}

.delete-button {
  float: right;
  padding-left: 5px;
  color: red;
  cursor: pointer;
}

.clear-button {
  margin: 5px;
}
